# below ".config/"
.config/nvim/.netrwhist
.config/configstore
.config/neofetch
.config/sao-nodejs
.config/wslu
.config/configstore
.config/coc

# below ".vim/"
.vim/.netrwhist
.vim/dein/.cache
.vim/dein/cache_nvim
.vim/dein/repos
.vim/dein/state_nvim.vim
