# below ".config/"
.config/coc
.config/configstore
.config/neofetch
.config/nvim/.netrwhist
.config/nvim/nvim
.config/sao-nodejs
.config/wslu

# below ".vim/"
.vim/dein/.cache
.vim/dein/cache_nvim
.vim/dein/repos
.vim/dein/state_nvim.vim
